# This is the CI/CD pipeline for the hotelmanagement microservices project
name: CI/CD for Microservices hotelmanagement Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Dependencies and Build Each Service
        run: |
          cd backend/services/authService
          npm ci
          cd ../roomService
          npm ci
          cd ../userService
          npm ci
          cd ../guestService
          npm ci
          cd ../reservationService
          npm ci
          cd ../notificationService
          npm ci
          cd ../communicationService
          npm ci
          cd ../../api-gateway
          npm ci


      - name: Build & Push Auth Service
        run: |
          docker build -t fawaz482/elite-auth:latest ./backend/services/authService
          docker push fawaz482/elite-auth:latest
      - name: Build & Push Room Service
        run: |
          docker build -t fawaz482/elite-room:latest ./backend/services/roomService
          docker push fawaz482/elite-room:latest
      - name: Build & Push User Service
        run: |
          docker build -t fawaz482/elite-user:latest ./backend/services/userService
          docker push fawaz482/elite-user:latest
      - name: Build & Push Guest Service
        run: |
          docker build -t fawaz482/elite-guest:latest ./backend/services/guestService
          docker push fawaz482/elite-guest:latest
      - name: Build & Push Reservation Service
        run: |
          docker build -t fawaz482/elite-reservation:latest ./backend/services/reservationService
          docker push fawaz482/elite-reservation:latest
      - name: Build & Push Notification Service
        run: |
          docker build -t fawaz482/elite-notification:latest ./backend/services/notificationService
          docker push fawaz482/elite-notification:latest
      - name: Build & Push API Gateway
        run: |
          docker build -t fawaz482/elite-gateway:latest ./backend/api-gateway
          docker push fawaz482/elite-gateway:latest
      - name: Build & Push Communication Service
        run: |
          docker build -t fawaz482/elite-communication:latest ./backend/services/communicationService
          docker push fawaz482/elite-communication:latest
